.header{

}

	.header-logo{
		display: block;
		position: relative;
		width: 198px;
		height: 129px;
	
		img{
			position: absolute;
			width: 100%;
			height: auto;
		}

		i{
			display: block;
			text-indent: -9999px;
		}
	}