.header{
	position: relative;
	width: 100%;
	height: $header-height;
	background: $color-primary;
}

.logo{
	position: relative;
	padding: 0 $gutter-width;
	box-sizing: border-box;
	height: $nav-height;
}

.logo__link{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	height: $nav-height;
	opacity: 1;
	transition: all $transition-length;
}
