.header{
	position: relative;
	width: 100%;
	height: $header-height;
	background: $color-primary;
}

.logo{
	position: relative;
	float: left;
	padding: 0 $gutter-width;
	box-sizing: border-box;
}

	.logo__link{
		display: inline-block;
		text-decoration: none;
		text-transform: uppercase;
		color: $color-white;
		font-size: 2em;
		height: $header-height;
		line-height: $header-height;
	}
