.article{
  background: $color-white;
}

.article__header{
  position: relative;
  background: $color-primary;
  color: $color-white;
  overflow: hidden;
}

.article__img-container{
  opacity: 0.2;
}

.article__img{
  position: absolute;
  top: 0;
  left: 0;

  &--taller{
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
  }

  &--wider{
    top: 0;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%,0%);
  }
}

.article__author{
  color: $color-white;
}

.article__time{

}

.article__body{
}

.article__footer{
}
