.util-footer{
  background: darken($color-secondary, 20%);
  padding: $gutter-width/2 0 $gutter-width;
  box-sizing: border-box;
  color: $color-white;

  .social-nav{
    padding-left: 0;
    padding-right: 0;
    margin-left: -$gutter-width/4;
  }

  .contact-address{
    margin-top: 0;
  }

  .h5{
    margin-bottom: $gutter-width/2;
  }

  .newsletter__input{
    background: darken($color-secondary, 30%);
    width: 100%;
  }

  .newsletter__submit{
    width: 100%;
    background: darken($color-secondary, 40%);
  }
}

.util-footer__link{
  text-decoration: none;
  color: $color-white;
}
