/*

	Colors

*/

$color-primary: #0A94A2;
$color-secondary: #FB9F0F;
$color-black: #030001;
$color-white: #fff;

/*

	Fonts

*/

$fonts: (
	0: (
		font-family:  #{"Cutive Mono, HelveticaNeue, Helvetica Neue, Helvetica, Arial, sans-serif"},
		font-style: normal,
		font-weight: normal
	)
);

/*

	Media Queries

*/

$mq: (
	tablet-port: 959px,
	mobile-land: 767px,
	mobile-port: 479px
);

/*

	Layout sizes

*/

$container-width: 980px;

$layout: (
	100,
	66.666666,
	50,
	33.333333,
	25,
	20
);

/*

	Gutters

*/

$gutter-width: 20px;

/*

	Transitions

*/

$transition-length: 0.25s;

/*

	Header

*/

$header-height: 60px;

/*

	Main Navigation

*/

$nav-height: $header-height;
