*::selection {
	background: #000 !important;
	color: #fff !important;
}

*::-moz-selection {
	background: #000 !important;
	color: #fff !important;
}

*::-webkit-selection {
	background: #000 !important;
	color: #fff !important;
}

h1, h2, h3,
h4, h5, h6{
	font-weight: normal;
	font-size: 1em;
	margin: 0;
}

.h1{
	font-size: 3em;
}

.h2{
	font-size: 2.5em;
}

.h3{
	font-size: 2.17em;
}

.h4{
	font-size: 2em;
}

.h5{
	font-size: 1.83em;
}

.h6{
	font-size: 1.67em;
}

p{}

span{}

sub{}

sup{}

em{}

strong{}

hr{}

img{}

input {
	-webkit-appearance: none;
	border-radius: 0;
}

select{
	option{}
}

textarea{}

a{} a:hover{}

blockquote{
	p{}
}

ul{
	li{}
}

ol{
	li{}
}
