/* #Basic Styles
================================================== */
	body {
		background: #fff;
		@include font(0);
		color: #333;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
	}
