html,body{
	background: $color-tertiary;
	height: 100%;
}

body {
	background: #fff;
	@include font(0);
	color: #333;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

.wrapper{
	min-height: 100%;

	&:after{
		content: '';
		display: block;
		position: relative;
		width: 100%;
		clear: both
		//height: $footer-height;
	}
}
